.lucky-number-container {
  height: 150px; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

/* Define animation for scrolling */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* Apply animation and styles */
.scroll-animation {
  animation: scroll 20s linear infinite; /* Adjust animation duration (10s) as needed */
}

/* Pause animation on hover */
.scroll-animation:hover {
  animation-play-state: paused;
}

.red-container {
  background: linear-gradient(to bottom, #ff0000, #d00000);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 95% 100%, 5% 100%, 0% 80%);
  /* border: 2px solid #00008b; */
}
